<% if(blog != null ) { %>

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%- blog.name %></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 col-md-4">
            <img src="<%- blog.image %>" class="img-fluid sticky-top" style:"top: 20px;" alt="<%- blog.name %>" loading="lazy">
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12"><h1><%- blog.name %></h1></div>
                <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- blog.category %></div>
                <div class="col-12" style="white-space: pre-line;">
                    <h4><%- blog.description %></h4>
                    <p><%- blog.content %></p>
                </div>
            </div>
        </div>
    </div>

<% } else { %>
<p>No item found</p>
<% } %>